@model List<Department>
@{
    ViewBag.Title = "Department";
}
<a asp-action="AddNew" class="btn btn-success"> Add New Department</a>
<br />
<br />
<table class="table table-bordered table-hover" style="border-color:#f4623a">
    <thead class="card-header" style="background-color:white; color:black">
        <th>ID</th>
        <th>Name</th>
        <th>Manager</th>
        <th>Edit</th>
        <th>Delete </th>
        <th>Details</th>
    </thead>
    @foreach (var item in Model)
    {
        <tr style="color:white">
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Manager</td>
            <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a></td>
            <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
            <td><a asp-action="details" asp-route-id="@item.Id" class="btn btn-primary">Details</a></td>
        </tr>
    }
</table>
